opencv-python==3.4.2.16
opencv-contrib-python==3.4.2.16
readchar==2.0.1
soundfile==0.10.3.post1
sounddevice==0.4.0
numpy==1.17.0
ray==0.8.6
subprocess32==3.5.4
pyautogui==0.9.50
natsort==7.0.1
pyobjc==6.1
psutil==5.7.0
setproctitle==1.1.10
pymsgbox==1.0
